._e_dropdown {
  & ._e_input__control:focus ~ ._e_dropdown__card {
    display: block;
  }
}

._e_dropdown__card {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  width: 100%;
  padding: var(--S8) 0;
  border-radius: 0 0 var(--S4) var(--S4);
  background-color: var(--N0);
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.16), 0px 1px 4px rgba(0, 0, 0, 0.04);
  z-index: 8999;
}

._e_dropdown__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--S48);
  padding: 0 var(--S12);
  font: var(--Subhead);
  color: var(--N800);
  cursor: pointer;

  &:hover {
    background-color: var(--N10);
  }
}
