._e_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--S32);
}

._e_heading__main {
  flex-grow: 1;
  flex-shrink: 0;

  & > ._e_breadcrumbs {
    margin-bottom: var(--S4);
  }
}

._e_heading__main_inline-actions {
  display: flex;
  align-items: center;
}

._e_heading__inline-actions {
  display: flex;
  align-items: center;
  margin-left: var(--S40);

  & > ._e_action {
    margin-right: var(--S24);
  }
}

._e_heading__title {
  font: var(--H1);
  color: var(--N800);
}

._e_heading-actions {
  flex-grow: 0;
  flex-shrink: 0;

  & > ._e_button {
    margin-left: var(--S20);
  }
}
