._e_link {
  color: var(--Primary);
  cursor: pointer;

  &:hover {
    color: var(--PrimaryHover);
  }

  &:focus {
    color: var(--PrimaryHover);
  }

  &:active {
    color: var(--PrimaryActive);
  }
}
