._e_menu {
  display: inline-flex;
  flex-direction: column;
  min-width: var(--C4);
  padding: var(--S8);
  border-radius: var(--S4);
  background-color: var(--N0);
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.16), 0px 1px 4px rgba(0, 0, 0, 0.04);
  z-index: 8999;
}

._e_menu_large {
  padding: var(--S12) var(--S8);
}

._e_menu__item {
  display: flex;
  align-items: center;
  height: var(--S32);
  padding: 0 var(--S8);
  border-radius: var(--S4);
  font: var(--Body2);
  color: var(--N800);
  cursor: pointer;

  &:hover {
    background-color: var(--N50);

    & ._e_menu__item-icon svg {
      fill: var(--N600);
    }
  }

  &:focus {
    background-color: var(--N50);
  }

  &:active {
    background-color: var(--N100);
  }

  ._e_menu_large & {
    height: var(--S48);
    padding: 0 var(--S12);
    font: var(--Subhead);
  }
}

._e_menu__item-icon {
  width: var(--S24);
  height: var(--S24);
  margin-right: var(--S20);

  & svg {
    width: var(--S24);
    height: var(--S24);
    fill: var(--N200);
  }
}

._e_menu__separator {
  width: calc(100% - 2 * var(--S8));
  height: 1px;
  margin: var(--S8) var(--S12);
  background-color: var(--N100);
}

._e_menu__text-item {
  display: flex;
  align-items: center;
  height: var(--S48);
  padding: 0 var(--S12);
  font: var(--Body2);
  color: var(--N600);
}
