._e_breadcrumbs {
  display: flex;
}

._e_breadcrumbs__item {
  font: var(--Body1);
  color: var(--Primary);
  cursor: pointer;

  &:hover {
    color: var(--PrimaryHover);
  }
  &:focus {
    color: var(--PrimaryHover);
  }
  &:active {
    color: var(--PrimaryActive);
  }

  &::after {
    content: '/';
    display: inline-block;
    margin: 0 var(--S8);
    font: var(--Body1);
    color: var(--N200);
  }
}

._e_breadcrumbs__item_passive {
  cursor: default;
  color: var(--N600);

  &:hover {
    color: var(--N600);
  }
}
