._e_checkbox {
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;

  &:hover ._e_checkbox__icon::after {
    opacity: 0.5;
  }

  &:active ._e_checkbox__icon::after {
    opacity: 1;
  }
}

._e_checkbox_disabled {
  cursor: default;
  pointer-events: none;

  &:hover ._e_checkbox__icon::after {
    opacity: 0;
  }

  &:active ._e_checkbox__icon::after {
    opacity: 0;
  }
}

._e_checkbox__label {
  margin-top: 2px;
  padding-left: var(--S8);
  font: var(--Body1);
  color: var(--N800);
}

._e_checkbox__desc {
  display: block;
  margin-top: 2px;
  font: var(--Body2);
  color: var(--N600);
}

._e_checkbox__icon {
  position: relative;
  width: var(--S24);
  height: var(--S24);
  flex-shrink: 0;

  &::after {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    display: block;
    width: var(--S40);
    height: var(--S40);
    border-radius: 9001px;
    background-color: var(--N50);
    opacity: 0;
    transition: opacity 100ms ease-out;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 18px;
    height: 18px;
    margin: 3px;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    z-index: 2;
  }
}

._e_checkbox__input {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;

  /*
    Checked
  */
  &:checked + ._e_checkbox__icon::before {
    border-width: 0;
    background-color: var(--Primary);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.70997 13.2901C7.31997 13.6801 6.68997 13.6801 6.29997 13.2901L2.70997 9.70006C2.52271 9.51323 2.41748 9.25958 2.41748 8.99506C2.41748 8.73054 2.52271 8.47689 2.70997 8.29006C3.09997 7.90006 3.72997 7.90006 4.11997 8.29006L6.99997 11.1701L13.88 4.29006C14.27 3.90006 14.9 3.90006 15.29 4.29006C15.68 4.68006 15.68 5.31006 15.29 5.70006L7.70997 13.2901Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
  }

  /*
    Unchecked
  */
  & + ._e_checkbox__icon::before {
    border-color: var(--N200);
  }

  /*
    Checked and disabled
  */
  &:checked:disabled {
    & + ._e_checkbox__icon::before {
      border-width: 0;
      background-color: var(--N600);
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.70997 13.2901C7.31997 13.6801 6.68997 13.6801 6.29997 13.2901L2.70997 9.70006C2.52271 9.51323 2.41748 9.25958 2.41748 8.99506C2.41748 8.73054 2.52271 8.47689 2.70997 8.29006C3.09997 7.90006 3.72997 7.90006 4.11997 8.29006L6.99997 11.1701L13.88 4.29006C14.27 3.90006 14.9 3.90006 15.29 4.29006C15.68 4.68006 15.68 5.31006 15.29 5.70006L7.70997 13.2901Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
    }

    & ~ ._e_checkbox__label {
      color: var(--N800);
    }
  }

  /*
    Unchecked and disabled
  */
  &:disabled {
    & + ._e_checkbox__icon::before {
      border-color: var(--N200);
    }

    & ~ ._e_checkbox__label {
      color: var(--N200);
    }
  }

  /*
    Indeterminate
  */
  &:indeterminate + ._e_checkbox__icon::before {
    border-width: 0;
    background-color: var(--Primary);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 10H5C4.45 10 4 9.55 4 9C4 8.45 4.45 8 5 8H13C13.55 8 14 8.45 14 9C14 9.55 13.55 10 13 10Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
  }

  /*
    Invalid
  */
  &:invalid + ._e_checkbox__icon::before {
    border-color: var(--R500);
  }
}

._e_checkbox__input_invalid + ._e_checkbox__icon::before {
  border-color: var(--R500);
}
