._e_spinner {
  position: relative;
  display: inline-block;
  width: var(--S64);
  height: var(--S64);
  padding: var(--S8);
}

@keyframes _e_spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

._e_spinner div {
  transform-origin: var(--S24) var(--S24);
  animation: _e_spinner 1.2s linear infinite;
}

._e_spinner div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 22px;
  display: block;
  width: var(--S4);
  height: var(--S12);
  border-radius: 2px;
  background-color: var(--Primary);
}

._e_spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

._e_spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

._e_spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

._e_spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

._e_spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

._e_spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

._e_spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

._e_spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

._e_spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

._e_spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

._e_spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

._e_spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
