._e_button {
  display: inline-flex;
  align-items: center;
  border-radius: var(--S4);
  cursor: pointer;
  height: var(--S40);
  padding: 0 var(--S16);
  font: var(--Subhead);
  background-color: var(--N50);
  color: var(--Primary);

  &:hover {
    background-color: var(--PrimaryLight);
  }

  &:focus {
    background-color: var(--PrimaryLight);
  }

  &:active {
    background-color: var(--PrimaryLightHover);
  }
}

._e_button_appearance_primary {
  background-color: var(--Primary);
  color: var(--N0);

  &:hover {
    background-color: var(--PrimaryHover);
  }

  &:focus {
    background-color: var(--PrimaryHover);
  }

  &:active {
    background-color: var(--PrimaryActive);
  }
}

._e_button_appearance_danger {
  background-color: var(--R500);
  color: var(--N0);

  &:hover {
    background-color: var(--R600);
  }

  &:focus {
    background-color: var(--R600);
  }

  &:active {
    background-color: var(--R700);
  }
}

._e_button_size_small {
  height: var(--S32);
  padding: 0 var(--S12);
  font: var(--Body2);
}

._e_button_size_large {
  height: var(--S48);
  padding: 0 var(--S20);
  font: var(--H3);
}

._e_button_disabled {
  cursor: default;
  pointer-events: none;
  background-color: var(--N50);
  color: var(--N200);

  &._e_button_appearance_primary {
    background-color: var(--N200);
    color: var(--N0);
  }

  &._e_button_appearance_danger {
    background-color: var(--N200);
    color: var(--N0);
  }
}
