._e_action {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: var(--S40);

  &:hover {
    & ._e_action__icon svg {
      fill: var(--B500);
    }
    & ._e_action__text {
      color: var(--B500);
    }
  }

  &:focus {
    & ._e_action__icon svg {
      fill: var(--B500);
    }
    & ._e_action__text {
      color: var(--B500);
    }
  }

  &:active {
    & ._e_action__icon svg {
      fill: var(--B600);
    }
    & ._e_action__text {
      color: var(--B600);
    }
  }
}

._e_action__icon {
  width: var(--S24);
  height: var(--S24);
  margin-right: var(--S8);

  & svg {
    width: var(--S24);
    height: var(--S24);
    fill: var(--N200);
  }
}

._e_action__text {
  font: var(--Subhead);
  color: var(--N600);
}
