._e_chip {
  display: inline-flex;
  align-items: center;
  height: var(--S32);
  padding: 0 var(--S12);
  border-radius: var(--S4);
  background-color: var(--N50);
  cursor: pointer;

  &:hover {
    background-color: var(--N100);
  }

  &:focus {
    background-color: var(--N100);
  }

  &:active {
    background-color: var(--PrimaryLight);
  }
}

._e_chip_selected {
  background-color: var(--PrimaryLight);

  &:hover {
    background-color: var(--PrimaryLightHover);
  }

  &:focus {
    background-color: var(--PrimaryLightHover);
  }

  &:active {
    background-color: var(--N10);
  }

  & ._e_chip__check {
    display: block;
  }

  & ._e_chip__text {
    color: var(--Primary);
  }
}

._e_chip__check {
  display: none;
  width: var(--S20);
  height: var(--S20);
  margin-right: 6px;

  & svg {
    width: var(--S20);
    height: var(--S20);
    fill: var(--Primary);
  }
}

._e_chip__text {
  font: var(--Body1);
  color: var(--N600);
}
