:root {
  /* Spaces */
  --S4: 4px;
  --S8: 8px;
  --S12: 12px;
  --S16: 16px;
  --S20: 20px;
  --S24: 24px;
  --S32: 32px;
  --S40: 40px;
  --S48: 48px;
  --S64: 64px;

  /* Spaces – Columns */
  --C2: 96px;
  --C4: 208px;
  --C6: 320px;
  --C8: 432px;
  --C12: 656px;

  /* Fonts */
  --H1: normal normal 600 24px/28px "Inter", sans-serif;
  --H2: normal normal 600 20px/24px "Inter", sans-serif;
  --H3: normal normal 600 16px/20px "Inter", sans-serif;
  --Subhead: normal normal 500 14px/20px "Inter", sans-serif;
  --Body1: normal normal 400 14px/20px "Inter", sans-serif;
  --Body2: normal normal 400 12px/16px "Inter", sans-serif;

  /* Colors - Neutral */
  --N0: #FFFFFF;
  --N10: #F5F5F6;
  --N50: #EEEEEF;
  --N100: #DCDDE0;
  --N200: #BABBC0;
  --N600: #646572;
  --N700: #4A4B5A;
  --N800: #27293B;
  --N900: #0F1126;
  --N1000: #000000;

  /* Colors - Blue */
  --B50: #DDE6FF;
  --B100: #CCD9FF;
  --B400: #2962FF;
  --B500: #2959E0;
  --B600: #224BBC;

  /* Colors - Green */
  --G100: #DCEEE1;
  --G150: #CBE5D3;
  --G400: #259446;
  --G700: #258344;

  /* Colors - Orange */
  --O50: #FFE8D6;
  --O100: #FFDCC2;
  --O500: #FF6F00;
  --O600: #EE6904;
  --O700: #D75E00;

  /* Colors - Red */
  --R50: #FBDCE0;
  --R100: #F9CBD0;
  --R500: #E5243C;
  --R600: #C8243C;
  --R700: #B12035;
}
